@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 100;
    src: local('Exo Thin'), local('Exo-Thin'), url(https://luoleiorg.b0.upaiyun.com/source/fonts/exo/ek6B72kladJz_Z6o5PEplKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    src: local('Exo Regular'), local('Exo-Regular'), url(https://luoleiorg.b0.upaiyun.com/source/fonts/exo/ZcGd2dvMSgl3mHN3lKAjNw.woff) format('woff');
}

/* 整体 */
body {
    margin: 0;
    font-family: Exo, '-apple-system', 'Open Sans', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.5;
    font-family: Exo, '-apple-system', 'Open Sans', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0 15px;
}

h1 {
    font-size: 22px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 18px;
    }
}

h2 {
    font-size: 20px;
}

@media (max-width: 767px) {
    h2 {
        font-size: 16px;
    }
}

h3 {
    font-size: 18px;
}

@media (max-width: 767px) {
    h3 {
        font-size: 14px;
    }
}

h4 {
    font-size: 16px;
}

@media (max-width: 767px) {
    h4 {
        font-size: 12px;
    }
}

h5 {
    font-size: 14px;
}

@media (max-width: 767px) {
    h5 {
        font-size: 10px;
    }
}

h6 {
    font-size: 12px;
}

@media (max-width: 767px) {
    h6 {
        font-size: 8px;
    }
}

a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
}

a:hover {
    color: #222;
    border-bottom-color: #222;
    cursor: pointer;
}

/* 背景 */
#top-image {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/mountains_light_sun_sky_clouds_114136_2560x1080.jpg') no-repeat fixed;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
}

#particles-js {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
}

/* 布局 */
.container {
    display: grid;
}

.areas-i {
    grid-template-rows: 260px 60px minmax(25.5em, 1fr) 90px;
    grid-template-columns: 260px 1px 20px repeat(10, 1fr);
    grid-template-areas:
        's s . c c c c c c c c c .'
        's s . c c c c c c c c c .'
        's s . c c c c c c c c c .'
        's s . f f f f f f f f f .';
}

@media (max-width: 767px) {
    .areas-i {
        grid-template-rows: 260px 60px minmax(25.5em, 1fr) 90px;
        grid-template-columns: 70px 0 0 repeat(10, 1fr);
    }
}

.sidebar {
    grid-area: s;
    background: #edeff1;
    text-align: center;
}

.header {
    margin-top: 3em;
    position: -webkit-sticky;
    position: sticky;
    top: 3em;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 17.4em;
    font-size: 15px;
    width: 80px;
    left: 0;
    right: 0;
    margin: auto;
}

@media (max-width: 767px) {
    .header {
        display: none;
    }
    nav {
        top: 40%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.content {
    z-index: 1;
    grid-area: c;
    /* background-color: #fff;
    -moz-box-shadow: -2px -2px 20px #7d7778, 3px 3px 5px #7d7778;
    -webkit-box-shadow: -2px -2px 20px #7d7778, 3px 3px 5px #7d7778;
    box-shadow: -2px -2px 20px #7d7778, 3px 3px 5px #7d7778; */
    text-align: center;
    align-self: start;
}

.footer {
    z-index: 1;
    grid-area: f;
    text-align: center;
    color: #999;
}

/* 头部 */
.header .avatar {
    background-image: url(../images/IMG_2726.JPG);
    width: 128px;
    height: 128px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.header .avatar:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(360deg) scale(1.1);
    -moz-transform: rotate(360deg) scale(1.1);
    -ms-transform: rotate(360deg) scale(1.1);
    -o-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
}

.header .name {
    font-weight: bold;
}

.header .desc {
    color: #65737e;
}

/* 导航条 */
nav .nav-i {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav .nav-i > li {
    display: inline-block;
    margin-right: 0.5em;
}

/* 正文 */
.radius {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.content section {
    padding: 40px 40px 0 40px;
    font-size: 16px;
}

.content article header .title {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}

.content article header .title .link {
    position: relative;
    display: inline-block;
    color: #555;
    border-bottom: none;
    line-height: 1.2;
    vertical-align: top;
}

.content article header .title .link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.content article header .title .link:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.content .post-body {
    font-family: Exo, '-apple-system', 'Open Sans', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    text-align: justify;
}

@media (max-width: 767px) {
    .content .post-body {
        word-break: break-word;
    }
}

.content .post-body .post-button {
    margin-top: 50px;
    text-align: right;
}

.content .post-meta {
    margin: 3px 0 60px;
    color: #999;
    font-size: 12px;
}

.content .post-meta-divider {
    margin: 0 0.5em;
}

.btn {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    /* background: #222; */
    border: 1px solid #555;
    text-decoration: none;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.btn:hover,
.post-button .btn:hover {
    border-color: #222;
    color: #fff;
    background: rgba(141, 141, 141, 0.658);
}

.post-button .btn {
    color: #555;
    font-size: 14px;
    /* background: #fff; */
    border-radius: 2px;
    line-height: 2;
    margin: 0 4px 8px 4px;
}

.content article footer .post-eof {
    display: block;
    margin: 70px auto 60px;
    /* width: 8%; */
    height: 2px;
    background: #ccc;
    text-align: center;
}

.iconfont {
    vertical-align: -3%;
}

/* gototop */
.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop div {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.gototop div i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
