body {
    margin: 0;
    font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #555;
}

/* a {
  text-decoration: underline;
  color: #343D46;
}

a:hover {
  text-decoration: underline;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* margin: 0;
  padding: 0; */
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0 15px;
}

h1 {
    font-size: 22px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 18px;
    }
}

h2 {
    font-size: 20px;
}

@media (max-width: 767px) {
    h2 {
        font-size: 16px;
    }
}

h3 {
    font-size: 18px;
}

@media (max-width: 767px) {
    h3 {
        font-size: 14px;
    }
}

h4 {
    font-size: 16px;
}

@media (max-width: 767px) {
    h4 {
        font-size: 12px;
    }
}

h5 {
    font-size: 14px;
}

@media (max-width: 767px) {
    h5 {
        font-size: 10px;
    }
}

h6 {
    font-size: 12px;
}

@media (max-width: 767px) {
    h6 {
        font-size: 8px;
    }
}

a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
}

a:hover {
    color: #222;
    border-bottom-color: #222;
    cursor: pointer;
}

/* gototop */
.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop div {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.gototop div i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

#particles-js {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f5f7f9;
}

/* 布局 css grid */

.container {
    display: grid;
    align-items: start;
}

.areas-i {
    grid-template-rows: 250px 60px 1fr 90px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        '. . h h h h h h h h . .'
        '. . n n n n n n n n . .'
        '. . c c c c c c c c . .'
        'f f f f f f f f f f f f';
}

.areas-c {
    grid-template-rows: 250px 60px 1fr 90px;
    grid-template-columns: 80px repeat(10, 1fr) 80px;
    grid-template-areas:
        '. c c c c c c c c c c .'
        '. c c c c c c c c c c .'
        '. c c c c c c c c c c .'
        '. f f f f f f f f f f .';
}

.areas-s {
    grid-template-rows: 250px 60px 1fr 90px;
    grid-template-columns: 120px 120px 50px repeat(9, 1fr);
    grid-template-areas:
        '. . . c c c c c c c c .'
        '. . . c c c c c c c c .'
        '. . . c c c c c c c c .'
        '. . . f f f f f f f f .';
}

.header {
    z-index: 1;
    grid-area: h;
    /* background-color: lightgreen; */
    margin-top: 3em;
    text-align: center;
}

nav {
    z-index: 1;
    grid-area: n;
    /* background-color: red; */
}

.sidebar {
    z-index: 1;
    /* grid-area: s;
    text-align: left;
    align-self: end; */
    position: fixed;
    top: 10px;
    left: 60px;
    display: none;
}

@media (max-width: 1000px) {
    .sidebar {
        z-index: 100;
        background: rgb(240, 240, 240);
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        -moz-box-shadow: 2px 0px 15px #333333;
        -webkit-box-shadow: 2px 0px 15px #333333;
        box-shadow: 2px 0px 15px #333333;
    }

    .areas-s {
        grid-template-rows: 250px 60px 1fr 90px;
        grid-template-columns: 80px repeat(10, 1fr) 80px;
        grid-template-areas:
            '. c c c c c c c c c c .'
            '. c c c c c c c c c c .'
            '. c c c c c c c c c c .'
            '. f f f f f f f f f f .';
    }
}

.sidebar.show {
    display: block;
}

.sidebar .arrow.in {
    position: absolute;
    top: 350px;
    left: 160px;
    cursor: pointer;
}

.arrow.out {
    z-index: 2;
    position: fixed;
    top: 360px;
    left: 25px;
    cursor: pointer;
    display: block;
}

@media (max-width: 1000px) {
    .sidebar .arrow.in {
        left: 200px;
    }
}

.content {
    z-index: 1;
    grid-area: c;
    background-color: lightskyblue;
    background-color: #fff;
    -moz-box-shadow: -2px -2px 20px #7d7778, 3px 3px 5px #7d7778;
    -webkit-box-shadow: -2px -2px 20px #7d7778, 3px 3px 5px #7d7778;
    box-shadow: -2px -2px 20px #7d7778, 3px 3px 5px #7d7778;
    text-align: center;
    align-self: start;
}

.radius {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.footer {
    z-index: 1;
    grid-area: f;
    text-align: center;
    color: #999;
}

/* 头部信息 */

.header .avatar {
    background-image: url(../images/IMG_2726.JPG);
    width: 128px;
    height: 128px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.header .avatar:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(360deg) scale(1.1);
    -moz-transform: rotate(360deg) scale(1.1);
    -ms-transform: rotate(360deg) scale(1.1);
    -o-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
}

.header .name {
    font-weight: bold;
}

.header .desc {
    color: #65737e;
}

/* 导航条 */

nav .nav-i {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
}

nav .nav-i > li {
    display: inline-block;
    margin-right: 0.5em;
}

nav .nav-c {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

/* 内容 */
.content section {
    padding: 40px;
}

.content article header .title {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}

.content article header .title .link {
    position: relative;
    display: inline-block;
    color: #555;
    border-bottom: none;
    line-height: 1.2;
    vertical-align: top;
}

.content article header .title .link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.content article header .title .link:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.content .post-body {
    font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
    text-align: justify;
}

@media (max-width: 767px) {
    .content .post-body {
        word-break: break-word;
    }
}

.content .post-body .post-button {
    margin-top: 50px;
    text-align: center;
}

.content .post-meta {
    margin: 3px 0 60px;
    color: #999;
    font-size: 12px;
}

.content .post-meta-divider {
    margin: 0 0.5em;
}

.btn {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    background: #222;
    border: 2px solid #555;
    text-decoration: none;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.btn:hover,
.post-button .btn:hover {
    border-color: #222;
    color: #fff;
    background: #222;
}

.post-button .btn {
    color: #555;
    font-size: 14px;
    background: #fff;
    border-radius: 2px;
    line-height: 2;
    margin: 0 4px 8px 4px;
}

.content article footer .post-eof {
    display: block;
    margin: 80px auto 60px;
    width: 8%;
    height: 1px;
    background: #ccc;
    text-align: center;
}

.animate-box {
    opacity: 0;
}

.iconfont {
    vertical-align: -3%;
}

.iconfont.arrow {
    font-size: 30px;
}

.post-tags {
    margin-top: 40px;
    text-align: center;
}
.post-tags a {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
}

.post-nav {
    display: table;
    margin-top: 15px;
    width: 100%;
    border-top: 1px solid #eee;
}

.post-nav-divider {
    display: table-cell;
    width: 10%;
}

.post-nav-item {
    display: table-cell;
    padding: 10px 0 0 0;
    width: 45%;
    vertical-align: top;
}

.post-nav-item a {
    position: relative;
    display: block;
    line-height: 25px;
    font-size: 14px;
    color: #555;
    border-bottom: none;
}

.post-nav-item a:hover {
    color: #222;
    border-bottom: none;
}

.post-nav-item a:active {
    top: 2px;
}

.post-nav-next {
    text-align: left;
}

.post-nav-prev {
    text-align: right;
}

